@{
  Layout = "_Layout";
}
<div class="container">
<p class="h1 mt-3">Welcome to Pierre's Bakery Vendors & Orders</p>

<h3 class="mt-3"><a href='/vendor'>Click here to see a list of vendors.</a></h3>
</div>
